<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>SUIT-Bold.ttf</string>
		<string>SUIT-ExtraBold.ttf</string>
		<string>SUIT-Light.ttf</string>
		<string>SUIT-Heavy.ttf</string>
		<string>SUIT-Medium.ttf</string>
		<string>SUIT-Regular.ttf</string>
		<string>SUIT-Thin.ttf</string>
		<string>SUIT-SemiBold.ttf</string>
	</array>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NMFClientId</key>
	<string>46tqel8rx1</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
    <!-- 위치 서비스 권한 요청을 위한 키 추가 -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>이 앱은 사용자의 현재 위치를 기반으로 서비스를 제공합니다.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>이 앱은 사용자의 현재 위치를 항상 사용할 수 있도록 허용해야 합니다.</string>
</dict>
</plist>
